[Unit]
Description=TC²-BBS Meshtastic Version
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=pi
WorkingDirectory=/home/pi/TC2-BBS-Modules
ExecStart=/home/pi/TC2-BBS-Modules/venv/bin/python3 /home/pi/TC2-BBS-Modules/server.py



[Install]
WantedBy=multi-user.target
